/*agata jelen
pacman html related CSS document
*/

body {
    background: #FFC107;
    width: 100%;
    margin: auto;
    min-width: 600px;
    max-width: 2000px
}



/*-------------------------------------------------------------------Start header----------------------------------------------------------*/

#wrapper {
    width: 100%;
    margin: auto;
    height: auto;
}

/*-------------------------------------------------------------------Start header----------------------------------------------------------*/

header {
    padding: 3px;
    width: 100%;
    height: 15%;
    position: fixed;
    top: 0;
    background-color: rgb(121, 85, 72);
    z-index: 1;
}

header h1 {
    position: relative;
    top: 0;
    margin: .5% 40% auto 35%;
    color: #FFC107;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 1px #FFFFFF;
    width: 30%;
    display: inline-flex;
    overflow: auto;
}

header div img#logo_im {
    width: 5%;
    height: 60%;
    border-radius: 60px;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 5px;
    margin: -5% auto auto 4%;
    display: inline-block;
    position: relative;
    overflow: auto;
    
}

/*-------End-------*/




/* Nav bar */

.sidenav {
    height: 40%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 222, 77);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    margin: 9.5% 0 0 0;
    font-family: sans-serif;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.5s;
    font-family: sans-serif;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 30px;
    z-index: 2;
    font-family: sans-serif;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
    /* z-index: 200; */
    margin: 0% 0 0 0;
    font-family: sans-serif;
    color: black;
    width: 5%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span {
    /* z-index: 200; */
}

nav {
    /* z-index: 200; */
}
/*-------End-------*/


/*-----canvas-----*/

#myCanvas {
    
    margin: auto;
    display: block;
    width: 35%;
    height: 70%;
    position: absolute;
    top: 6%;
    bottom: 0;
    left: 0;
    right: 0;

}

/*-------End-------*/

/*-------footer------*/

footer {
    padding: 4px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    color: black;
    background-color: rgb(121, 85, 72);
    text-align: center;
    margin: 35% 0% 0% 0%;
}

.clear {
    clear: both;
}

footer p#copyright {
    bottom: 1px;
    z-index: 1;
    margin: 0% 0% 0% 1%;
}

/*-------End-------*/