body {
    width: 100%;
    margin: auto;
    min-width: 600px;
    max-width: 2000px
}

#wrapper {
width: 100%;
margin: 0 auto;
height: auto;


/*z-index: -100;*/
}
/*-------------------------------------------------------------------Start header----------------------------------------------------------*/
header {
    padding: 3px;
    width: 100%;
    height: 15%;
    position: relative;
    background-color: rgb(121,85,72);
    z-index: 1;
} 
header h1 {
    position: relative;
    top: 0;
    margin: .5% 35% auto 35%;
    color: #FFC107;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 1px #FFFFFF;
    width: 30%;
    display: inline-flex;
    overflow: auto;
}
header div img#logo_im{
    width: 5%;
    height: 60%;
    border-radius: 60px;
    background-color: #FFFFFF;
    z-index: 1;
    padding: 5px;
    margin: -5% 0 0 4%;
    /* border: solid 6px #FFC107; */
    display: inline-block;
    position: relative;
    overflow: auto;
}


/*-------------------------------------------------------------------finish header----------------------------------------------------------*/


/*-------------------------------------------------------------------Start NAV----------------------------------------------------------*/

.sidenav {
    height: 40%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gold;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    margin: 9.5% 0 0 0;
    font-family: sans-serif;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.5s;
    font-family: sans-serif;
}

.sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 30px;
    z-index: 2;
    font-family: sans-serif;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
    /* z-index: 200; */
    margin: 0% 0 0 0;
    font-family: sans-serif;
    color: black;
    width: 5%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

span {
    /* z-index: 200; */
}

nav {
    /* z-index: 200; */
}
/*NAV DONE*/

/*-------------------------------------------------------------------finish header----------------------------------------------------------*/
/*Amira's css*/
.grid {
	
    width: 680px;
    height: 419px;
    margin: -72px 38% auto 23%;
    background-color: #CD853F;
    background-image: url(../images/TriviaBackGround.jpg);
    padding: 10px 45px 45px 45px;
    border-radius: 45px;
    border: 2px solid #DAA520;
    box-shadow: 10px 15px 5px #cbcbcb;
}


.grid h1{
	width: 310px;
	font-family: sans-serif;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	color: #AD1F00;
	text-shadow: 7px 7px 10px #F2E600;
	padding: 0px 0px;
	border-radius: 10px;
	margin: 0px auto;
}

.question1, #score{
	font-family: sans-serif;
	font-size: 25px;
	color: #3D3D00;
	width: 95%;
	height: 60px;
	text-align: left;
	background-color: #E0C200;
	padding: 10px 10px;
	border-radius: 20px;
	margin: 0px auto;
}

.firstPage{
	width: 700px;
	height: auto;
	margin: 0 auto;
	
}

.buttons, .startBtn{
	margin-top: 10px;
	position: relative;
	
}

#btn0, #btn1, #btn2, #btn3{
	background-color:  #E0C200;
	width: 250px;
	font-size: 20px;
	color: #3D3D00;
	border: 1px solid #1d3c6a;
	border-radius: 50px;
	margin: 10px 33px 10px 45px;
	padding: 10px 10px;
}
#start{
	background-color: #FFD700;
	width: 250px;
	font-size: 30px;
	color: #5a6772;
	border: 1px solid #1d3c6a;
	border-radius: 50px;
	margin: 270px 33px 10px 230px;
	padding: 10px 10px;
}
#startOver{
	background-color: #E0C200;
	width: 250px;
	font-size: 30px;
	color: #5a6772;
	border: 1px solid #1d3c6a;
	border-radius: 50px;
	margin: 50px 33px 40px 230px;
	padding: 10px 10px;
}

#progress, #timer{
	font-family: sans-serif;
	color: #3D3D00;
	font-size: 20px;
	background-color: #E0C200;
	width: 20%;
	height: 20px;
	padding: 5px 5px;
	border-radius: 20px;
}
#timer{
	font-family: sans-serif;
	color: #3D3D00;
	font-size: 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #start:hover, #startOver:hover{
	cursor: pointer;
	background-color: #B8860B;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus, #start:focus, #startOver:focus{
	outline: 0;
}

#score {
	margin: 40px auto;
	width: 61%;
	height: 25px;
	color: #3D3D00;
	text-align: center;
	font-size: 30px;
}
footer {
        padding-bottom: 40px;
		padding-top: 10px;
		padding-left:0px;
		padding-right:0px;
        position:relative;
        bottom:0;
        width:100%;
        height:40px;   /* Height of the footer */
        color:black;
        background-color:rgb(121,85,72);
        text-align:center;
     }


.clear {clear: both;}
